{% extends 'global/base.html' %}


{% block posts %}
    <article class="post single-post">
        <header>
            <h2 class="post__title">
                <h1>{{post.name}}</h1>
            </h2>
        </header>
        <div class="post__body">
            <img src="{{post.image}}" alt="Imagem do personagem">
            <p>Name: {{post.name}}</p>
            <p>Status: {{post.status}}</p>
            <p>Specie: {{post.species}}</p>
            <p>Gender: {{post.gender}}</p>
            <p>Origin: {{post.origin.name}}</p>
            <p>Location: {{post.location.name}}</p>
        </div>
    </article>
{% endblock posts %}